- var datalink = "http://data.baltimoresun.com/jin/dollars-per-vote/"
//- var datalink = ""

link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro")
#appContainer.container
	p.chatter See how much Baltimore's top mayoral candidates spent per vote.
	.barChart
		.rowWrapper
			.headshotWrapper
			.legend
				.legendItem
					.bar.bar--votes
					p Votes
				.legendItem
					.bar.bar--money
					p Dollars spent
		.rowWrapper
			.headshotWrapper
				img.headshot(src="#{datalink}images/dixon.png")
			.barsWrapper
				p.candidateName Sheila Dixon
				.bars.bars--dixon
					.bar.bar--votes
						p 500,000 votes
					.bar.bar--money
						p $0.9m
			.dollarsPerVote
				p $62
					br
					span per vote
		.rowWrapper
			.headshotWrapper
				img.headshot(src="#{datalink}images/pugh.png")
			.barsWrapper
				p.candidateName Catherine Pugh
				.bars.bars--pugh
					.bar.bar--votes
						p 500,000 votes
					.bar.bar--money
						p $1.1m
			.dollarsPerVote
				p $62
					br
					span per vote
		.rowWrapper
			.headshotWrapper
				img.headshot(src="#{datalink}images/stokes.png")
			.barsWrapper
				p.candidateName Carl Stokes
				.bars.bars--stokes
					.bar.bar--votes
						p 500,000 votes
					.bar.bar--money
						p $0.3m
			.dollarsPerVote
				p $62
					br
					span per vote
		.rowWrapper
			.headshotWrapper
				img.headshot(src="#{datalink}images/warnock.png")
			.barsWrapper
				p.candidateName David Warnock
				.bars.bars--warnock
					.bar.bar--votes
						p 500,000 votes
					.bar.bar--money
						p $2.4m
			.dollarsPerVote
				p $62
					br
					span per vote
		.rowWrapper
			.headshotWrapper
				img.headshot(src="#{datalink}images/embry.png")
			.barsWrapper
				p.candidateName Elizabeth Embry
				.bars.bars--embry
					.bar.bar--votes
						p 500,000 votes
					.bar.bar--money
						p $0.4m
			.dollarsPerVote
				p $62
					br
					span per vote
		p.disclaimer * Includes the top five mayoral candidates with most votes
		p.disclaimer ** Campaign finance numbers do not include PAC funds
